@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=WindSong:wght@500&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'WindSong', cursive;
*/

:root 
{
    --primaryColor:#593E26;
    --secondaryColor:#F3C827;
    --tertiaryColor:#F66909;
    --contentColor:#1E150C;
}


/* GENERAL */ 
h1 {
    font-family: 'WindSong', cursive;
    font-size: 8rem;
    color:var(--primaryColor); 
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color:var(--primaryColor);
    width: 100%;
}

h3 {
    font-family:'Inter', sans-serif;
    font-size: 1.5rem;
    color:var(--contentColor);
}

p {
    font-family:'Inter', sans-serif;
    font-weight: 500;
    color: var(--contentColor);
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
}


.button a:visited {
    color:white ;
}

.button{
    background-color: var(--tertiaryColor);
    padding: 7px 10px;
    border-radius: 5px;
    width: fit-content;
    margin-top: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween{
    justify-content: space-between;
}

.bg {
    background-color: var(--secondaryColor);
}

.padding {
    padding:0 15%;
}

.margins {
    margin:6rem 0 6rem 0;
    
}

ul {
    list-style-type: none;
    padding:0;
}

/* HERO */ 

header {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

header div {
    width: 60%;
}

header img {
    width: 30%;
}

/* ENGAGEMENT */

.engagement div p {
    width: 45%;

}

/* BIENFAITS */

.bienfaits div p {
    width: 26.6%;
}

/* PRODUITS */ 

.carte {
    width: 26.6%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2%;
    border-radius: 5px;
}

.carte img {
    width: 100%;
}

.infosCarte {
    width: 90%;
    justify-content: center;
}

.infosCarte h3, p {
    width: 100%;
}

/* FOOTER */

footer div {
    width: 26.6%;
}

/* colonne gauche */
footer address a{
    display:block;
    color: var(--contentColor);
    margin-bottom:5%;
}

footer address a i {
    margin-right: 10px;
}

footer p {
margin-top:5% ;
}

/* colonne du milieu */ 

.columnMiddle a i {
    font-size: 2rem;
    margin-right: 10px;
}

.columnMiddle a {
    color: var(--contentColor);
}


/* colonne de droite */ 

.columnRight a {
    color: var(--contentColor);
}

.columnRight ul {
 display: flex;
 gap: 10px;
 flex-direction: column;
}



@media screen and (max-width:540px) {
.padding{
padding: 0 8%;
}

h1 {
font-size: 4rem;
}

h2 {
    font-size:1.5rem;
}

h3 {
    font-size: 1rem;
}

a{
    font-size: 0.7rem; 
}

p{
    line-height: 1.5rem;
}

/* HEADER */
header {
    flex-direction: column-reverse;
    justify-content: center;
}

header img
{
  width: 60%;
}

header div {
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* SECTION ENGAGEMENT */
.engagement div p
{
  width: 100%;
}

/* SECTION BIENFAITS */ 

.bienfaits div p
{
  width: 100%;
}

.bienfaits>div {
    justify-content: center;

}

/* SECTION PRODUITS */ 

.carte {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
}

.infosCarte {
    width: 55%;
    padding: 2%;
}

.carte img {
    width: 38%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.infosCarte h3 {
    margin-bottom: 10px;
}

.infosCarte p {
    margin: 0;
}

.produits {
    gap: 20px;
}

/* FOOTER */ 

.columnLeft {
    width: 100%;
}

.columnMiddle{
    width: 50%;
}

.columnRight {
    width: 50%;
}

.columnMiddle div {
    width: 100%;
}
}



